# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
env/
venv/

# Environment variables
.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# VS Code settings
.vscode/

# macOS metadata
.DS_Store

# Log and cache files
*.log
*.sqlite3
*.db
*.csv
*.bak
*.tmp

# matplotlib and other runtime files
*.png
*.pdf
*.svg

# Ignore local results
Plots/
